.user-list-container {
    max-width: 1230px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

.user-list-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.user-table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin: 0 auto;
}

.user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.user-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.user-table td {
    background-color: #fff;
}

.user-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.btn {
    padding: 8px 16px;
    color: #fff;
    background-color: #b197fc;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    width: auto;
    white-space: nowrap;
}

.details{
    text-align: center !important;
    word-break: break-word;
}


@media (max-width: 768px) {
    .user-list-container {
        padding: 10px;
    }

    .user-list-container h1 {
        font-size: 20px;
    }

    .user-table {
        width: 90%;
        font-size: 14px;
    }

    .user-table th, .user-table td {
        padding: 8px;
    }

    .btn {
        width: auto;
        padding: 10px;
        font-size: 16px;
    }
}
