.header{
    width: 100%;
    height: 60px;
    background: #000;
}

.complete-container {
    max-width: 1230px;
    margin: 0 auto;
    text-align: center;
    padding:  60px 0 80px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin-top: 100px;
}

.complete-container h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
}

.complete-container .btn {
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
    color: #fff;
    background-color: #ff4d4d;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}
