.top-container {
    max-width: 1230px;
    margin: 0 auto;
}

.tabs {
    display: flex;
    border-bottom: 2px solid #a1a1a1;
    margin: 10px -150px;
    padding: 0 160px;
    margin-top: 30px;
}

.tab {
    padding: 10px 20px;
    text-decoration: none;
    color: #5f5f5f;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    margin-right: 100px;
}

.tab.active {
    color: red;
    font-weight: bold;
    margin-right: 100px;
}

.items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    margin: 30px 0px 100px;
}

.item {
    background-color: #f0f0f0;
    height: 200px;
    position: relative;
    width: 200px;
    margin: 10px;
}

.item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.tab-content.active {
    display: grid;
}

.object {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    margin-top: 30px;
}

.no-favorites,
.login-prompt {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.login-prompt a {
    color: blue;
    text-decoration: underline;
}

.item .price {
    position: absolute;
    top: 150px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 2px 15px;
    border-radius: 0px 50px 50px 0px;
    font-size: 20px;
}

.item .name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 3em;
    line-height: 1.5em;
    text-overflow: ellipsis;
    word-break: break-word;
    margin-top: 15px;
    font-size: 15px;
}
