.purchase-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 20px;
    padding: 20px;
    max-width: 1230px;
    margin: 0 auto;
    margin-top: 50px;
}

.item-info{
    padding-right: 100px;
}

.item__inner{
    display: flex;
}

.item-image{
    margin-right: 50px;
}

.item-image img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

.item-details h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.item-details p {
    font-size: 1.2em;
}

.payment-info{
    margin-top: 30px;
}


.payment-method__header,
.delivery-address__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}

.payment-method__header span,
.delivery-address__header span{
    font-weight: bold;
    font-size: 20px;
}

.change-link-payment,
.change-link-address {
    font-size: 20px;
    text-decoration: none;
    color: #007bff;
}

.change-link-payment:hover,
.change-link-address:hover {
    text-decoration: underline;
}

.summary__inner{
    border: 1px solid  #8e8e8e;
    padding: 30px 50px 20px;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.summary-item-payment{
    margin-top: 50px;
}
.summary-label {
    font-weight: bold;
}

.summary-value-price, .summary-value-total{
    margin-right: 45px;
}

.summary-value {
    text-align: right;
}

.order-summary .buy-button {
    background-color: #f75655;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin-top: 50px;
    font-size: 20px;
}